.vagrant/
.idea/
vendor/
config/development.config.php
data/DoctrineORMModule/
!data/cache/.gitkeep
phpunit.xml
ubuntu-xenial-16.04-cloudimg-console.log
composer.lock
public/media/*
config/constants.php
config/autoload/options-eventos.global.php
config/google/client_credentials.json